#collaborations-landing {
    background: linear-gradient(rgba(255, 255, 255, .12), rgba(255, 255, 255, .12)), url(../img/collaboration.jpg);
}

#affiliations {
    background-color: #f3f3f3;
}

#collaborations .fa-handshake-o,
#affiliations .fa-check {
    color: #182C61;
}
