body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: rgb(44, 58, 71);
    line-height: 1.85;
    position: relative;
}

.list-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
