#projects-landing {
    background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url(../img/projects1.jpg);
}

.project .fa-wrench {
    background-color: #FD7272;
    color: #fff;
}

.location {
    color: #FD7272;
}
