.non-existent {
    /* Home color 1 */
    color: rgb(59, 59, 152);
    /* Home color 2 */
    color: rgb(234, 181, 67);
    /* Resume color 1 */
    color: rgb(85, 230, 193);
    /* Resume color 2 */
    color: rgb(189, 197, 129);
    /* Projects color 1 */
    color: rgb(253, 114, 114);
}
